.rules {
    height: 380px;
    border: 2px solid black;
    border-radius: 10px;
}

ul  {
    list-style-type: "\00261B";
    list-style-position: inside;
    padding: 15px
}

p {
    padding: 10px;
    font-size: 26px;
}

li span {
    position: relative;
    left: 10px;
  }

