.about {
    padding: 10px;
    height: 400px;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
}

.aboutA {
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.imgA {
    padding-top: 20px;
}