.categoryContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 104px;
    grid-gap: 30px;
    position: relative;
}

.categoryItem {
    border: 2px solid black;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}