.containerOne {
    display: grid;
    grid-template-columns: 450px;
}

.containerTwo {
    display: grid;
    grid-template-columns: 250px;
}

.item {
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.label {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
    margin-left: 10px;
    border-radius: 10px;
    padding: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.buttonDelete {
    margin-bottom:10px;
}

.buttonSubmit {
    margin-bottom: 8px;
}

.button:hover {
    color: blue;
}

/* .question {
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

.h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.p {
    margin-bottom: 30px;
}