.container {
    height: 450px;
    position: relative;
}

.jokersContainer {
    display: flex;
}
.jokerItem {
    padding: 10px;
    margin: 10px;;
    border: 1px black solid;
    border-radius: 10px;
}
.answersContainer {
    height: 200px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    padding: 10px;
    margin: 10px;
}
.answerItem {
    /* padding: 10px;
    margin: 10px; */
    border: 2px black solid;
    border-radius: 10px;  
    /* display: none; */
}
.answerItemHidden {
    padding: 10px;
    margin: 10px;
    border: 2px black solid;
    border-radius: 10px;  
    display: none;
}
button {
    cursor: pointer;
    /* padding: 20px; */
}
button:hover {
    background-color: lightblue;
    color: blue;
}

h3 {
    font-size: 25px;
    margin: 0;
}