.footer {
    width: 100%;
    height: 12vh;
    background-color: #553fb6;
    border-top: 2px solid #ffa000;
    border-bottom: 2px solid #ffa000;
    left:0;
    right:0;
    bottom:0;
    position: fixed;
    /* z-index: -1; */
}

.author {
    text-align: center;
    font-weight: bold;
}