.container {
    display: flex;
    padding-left: 10px;
}

.userContainer {
    margin-top: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 150px;
}

.imageContainer {
    margin-right: 10px;
    height: 400px;
}

.categoryItem {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.Image {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50%;
}