.categoryContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.imageContainer {  
    height: 510px;
    width: 610px;
    position: relative;
   
}

.Image {
    position: absolute;
    left: 0;
    top: 0; 
    /* transition: transform .2s;   */
}
.Image:hover {
    /* transform: scale(1.2); */
}

.categoryItem {
    /* z-index: 100; */
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: bold;
    left: 50px;
    top: 50px;
}

.categoryItem:hover {
    color: blue;
}

