.categoryContainer {
    display: grid;
    grid-template-columns: auto auto;
    /* padding: 10px; */
    position: relative;
}

.imageContainer {  
    height: 212px;
    width: 200x;
    position: relative; 
    overflow: hidden; 
}

.Image {
    position: absolute;
    left: 0;
    top: 0; 
}

.categoryItem1 {
    /* z-index: 100; */
    position: absolute;
    color: #121a24;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    left: 50px;
    top: 50px;
     transition: transform .2s;  
}

.categoryItem {
    position: absolute; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    left: 50px;
    top: 50px;
     transition: transform .2s;  
}

.biology {
    color: white;
}

.history {
    color:yellow;
}

.geography {
    color: turquoise;
}

.science {
    color: brown;
}

.categoryItem:hover {
    color: blue;
    transform: scale(1.2);
}

#link1 {
    color:yellow;
}

