.navigation {
    /* position: absolute; */
    width: 100%;
    height: 12vh;
    background-color: #553fb6;
    top: 0;
    border-bottom: 2px solid #ffa000;
    border-top: 2px solid #ffa000;
  }
  
  /* ul {
    padding: 1.2em;
  } */

  .link {
    color: black;
    margin-right: 1em;
    font-weight: 550;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .link:hover {
    text-decoration: underline;
  }

  .button {
    color: black;
    background-color: #553fb6;
    border-radius: 10px;
    padding: 5px;
    font-family:"Times New Roman", Times, serif;
  }